doctype html
html
    head
        title npm trends
        meta(name='description', content='Compare npm package download statistics over time.')
        if env.node_env == 'production'
            link(href="#{env.cdn_url}/cdn/css/bundle.min.4b8b6e7c.css" rel="stylesheet")
        else
            link(href="/css/bundle.css" rel="stylesheet")
        meta(name="node_env" content="#{env.node_env ? env.node_env : 'dev'}")
        meta(name="elasticsearch_url" content="#{env.elasticsearch_url}")
        meta(name="proxy_url" content="#{env.proxy_url}")
    body
        div(class="wrapper")
            header
                div(class="container")
                    h1(id="site_heading") npm trends
                    p(id="header_subheading") Compare npm package download counts over time
            div(id="app") 
            div(class="push")
        footer
            div(class="container") 
                ul(id="footer_menu" class="list-unstyled")
                    li(class="inline") Made by <a href="http://twitter.com/johnmpotter">John Potter</a>
                    
        if env.node_env == 'production'
            script(src="#{env.cdn_url}/cdn/js/vendor.min.1406c04f.js")
        else
            script(src="/js/vendor.js")

        script(src="//cdnjs.cloudflare.com/ajax/libs/autocomplete.js/0.12.0/autocomplete.jquery.min.js")

        if env.node_env == 'production'
            script(src="#{env.cdn_url}/cdn/js/bundle.min.91c970b7.js")
        else
            script(src="/js/bundle.js")

        if env.node_env == 'production'
            script.
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                ga('create', 'UA-71187417-1', 'auto');
                ga('send', 'pageview');

